.contact{
    margin-top: 5%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.contact div{
    font-family: 'Courier New', Courier, monospace;

}
.cv{
    margin-top: 20px;
}