.conteiner{
display: flex;
justify-content: space-around;
margin-top: 90px;
}
.img-men{
flex-basis: 33%;
margin-left: 1%;
width: 10px;

}

.men-conteiner{
    flex-basis: 67%;
    background-color: white;
    border-radius: 0px 100px 100px 0px;
    margin-right: 1%;
    
}
.warning{
font-size: 50px;
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-men{
    font-family:'Courier New', Courier, monospace;
    
    font-size: 30px;
    
    text-align: center;
    
}
.indentation{
width: 100%;
height: 200;
background-color: white;
}
